@font-face {
    font-family: 'cond_regular';
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-regular-webfont.svg#pf_din_text_cond_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'cond_light';
    src: url('../fonts/pfdintextcondpro-light-webfont.eot');
    src: url('../fonts/pfdintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-light-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-light-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-light-webfont.svg#pf_din_text_cond_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'cond_italic';
    src: url('../fonts/pfdintextcondpro-italic-webfont.eot');
    src: url('../fonts/pfdintextcondpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-italic-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-italic-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-italic-webfont.svg#pf_din_text_cond_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'cond_medium';
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'cond_thin';
    src: url('../fonts/pfdintextcondpro-thin-webfont.eot');
    src: url('../fonts/pfdintextcondpro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-thin-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-thin-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-thin-webfont.svg#pf_din_text_cond_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'cond_thin_italic';
    src: url('../fonts/pfdintextcondpro-thinital-webfont.eot');
    src: url('../fonts/pfdintextcondpro-thinital-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-thinital-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-thinital-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-thinital-webfont.svg#pf_din_text_cond_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'din_display_pro_thin';
    src: url('../fonts/pfdindisplaypro-thin-webfont.eot');
    src: url('../fonts/pfdindisplaypro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdindisplaypro-thin-webfont.woff') format('woff'),
         url('../fonts/pfdindisplaypro-thin-webfont.ttf') format('truetype'),
         url('../fonts/pfdindisplaypro-thin-webfont.svg#pf_din_text_cond_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'din_textpro_regular';
    src: url('../fonts/pfdintextpro-regular-webfont.eot');
    src: url('../fonts/pfdintextpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextpro-regular-webfont.svg#pf_din_text_cond_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



html, body {min-width: 1024px; font-size:16px; font-family:"cond_regular",sans-serif; position: relative;}
a {color: inherit; text-decoration: none;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ""; clear: both; height: 0;}
.wrap-outer {width:100%;}
.wrap {width:960px; margin: 0 auto; height:100%; position: relative;}





.popup {width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 100; display: none;}
.popup-shadow {width: 100%; height: 100%; position: absolute; z-index: 101; top: 0; left: 0; cursor: pointer; background-color: rgba(0, 0, 0, 0.7);}
.popup-content {width: 100%; height: 0; top: 0; left: 0; position: absolute; z-index: 102;}


.popup-content > div {background: url("../img/arches.png"); padding: 35px; margin-top: 200px; text-align: center;}

.popup .icon.name:before {background: url("../img/name2.png") center no-repeat;}
.popup .icon.email:before {background: url("../img/email2.png") center no-repeat;}
.popup .icon.phone:before {background: url("../img/phone2.png") center no-repeat;}

.popup .callback form {display: inline-block; height: 221px; margin: 0 auto; background: url("../img/c5bg.png"); border-radius: 8px;}
.popup .callback .icon {display: inline-block; margin: 10px 7px 0; background: #e5e4e3; color: #614f44;}
.popup .icon input[type="text"].placeholder {color: #614f44;}
.popup .callback h1 {font: 2.25em 'cond_regular', sans-serif; color: #fff; padding-top: 20px;}
.popup .callback p {font: 1.125em 'cond_regular', sans-serif; color: #fff;}
.popup .callback input[type='submit'] {margin: 30px 0 10px; text-transform: uppercase;}

.popup .question form {display: inline-block; padding: 0 30px; border-radius: 8px; margin: 0 auto; background: url("../img/c5bg.png")}
.popup .question .icon {display: inline-block;  background: #e5e4e3; color: #614f44;}
.popup .question h1 {font: 2.23em 'cond_regular', sans-serif; color: #fff; padding-top: 20px;}
.popup .question p {font: 1.125em 'cond_regular', sans-serif; color: #fff;}
.popup .question input[type='submit'] {margin: 30px 0 10px; text-transform: uppercase;}
.popup .question textarea { background: transparent;border: none;color: #767778;font: 1.3em "cond_regular", sans-serif;height: 114px;
							margin-top: 10px;outline: none;resize: none;width: 325px;}





/* *** form-wrap + icon + timer */

.form-wrap {background: rgba(255, 255, 255, 0.88); display: inline-block; text-align: center; position: absolute; padding: 16px;}
.form-wrap h1 {display: inline-block; background: #2f2758; text-transform: uppercase; color: #fff; font: 2.125em/1em 'cond_medium', sans-serif; padding: 0px 5px;}
.form-wrap h3 {color: #30343b; font: 1.625em/1em 'cond_thin', sans-serif; margin-bottom: 10px; }
.form-wrap p {color: #30343b; font: 1em/1em 'cond_thin_italic', sans-serif; }
.form-wrap input[type="submit"], .popup  input[type="submit"] {
	
	border-radius: 5px;
	padding: 10px 40px;
	margin-top: 10px;
	font: 1.750em/1em 'cond_medium' sans-serif;
	border: 1px solid #7ea430;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	
	
	background-image: linear-gradient(top, #A4DB2E 0%, #80C421 40%, #68A61C 60%, #8BBA27 100%); color: #fff;
	background-image: -o-linear-gradient(top, #A4DB2E 0%, #80C421 40%, #68A61C 60%, #8BBA27 100%);
	background-image: -moz-linear-gradient(top, #A4DB2E 0%, #80C421 40%, #68A61C 60%, #8BBA27 100%);
	background-image: -webkit-linear-gradient(top, #A4DB2E 0%, #80C421 40%, #68A61C 60%, #8BBA27 100%);
	background-image: -ms-linear-gradient(top, #A4DB2E 0%, #80C421 40%, #68A61C 60%, #8BBA27 100%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #A4DB2E),
		color-stop(0.4, #80C421),
		color-stop(0.6, #68A61C),
		color-stop(1, #8BBA27)
	);
}

.icon {position: relative; display: inline-block; padding: 3px 3px 3px 33px; margin: 10px 0 0; border: 1px solid #a3a3a3; background: rgba(255, 255, 255, 0.7); border-radius: 8px; box-shadow: inset 0px 1px 2px 1px rgba(64, 64, 64, 0.15), 0px 1px 1px 0px #fff;}
.icon.name:before {content: ""; position: absolute; left: 0px; top: 0px; height: 100%; width: 33px; background: url("../img/name.png") center no-repeat;}
.icon.email:before {content: ""; position: absolute; left: 0px; top: 0px; height: 100%; width: 33px; background: url("../img/email.png") center no-repeat;}
.icon.phone:before {content: ""; position: absolute; left: 0px; top: 0px; height: 100%; width: 33px; background: url("../img/phone.png") center no-repeat;}
.icon input[type="text"] {width: 255px; background: none; border: none; outline: none; font: 1.125em/1em 'cond_regular', sans-serif; color: #30343b;}
.icon input[type="text"].placeholder {color: #a3a3a3;}

div.hourPlay, div.dayPlay, div.minutePlay, div.secondPlay {background: url('../img/bg/timer0_9.png') repeat 0 0; margin-top: 1px}
div.minute6Play, div.second6Play {background: url('../img/bg/timer0_5_l.png') repeat 0 0; margin: 1px 0 0 11px;}
div.hour2Play, div.day1Play {background: url('../img/bg/timer0_2_l.png') repeat 0 0; margin: 1px 0 0 11px;}

/* *** form-wrap + icon + timer */





header {background: url("../img/shattered.jpg"); padding: 20px 0 10px; text-align: right;}
header h3 {font: 1.875em/1em 'din_display_pro_thin', sans-serif; color: #080208;}
header a {font: 1.1em/1em 'cond_light', sans-serif; color: #393737; border-bottom: 1px dashed #393737;}
header a:hover {border-color: transparent;}
header img {float: left;}

.c1 {padding: 60px 0; background: url("../img/arches.png"); text-align: center;}
.c1 h1 {text-transform: uppercase; color: #3d3d3d; font: 3em/1em 'cond_regular', sans-serif; }
.c1 h3 {font: 1.2em/1em 'din_textpro_regular', sans-serif; color: #565555; text-transform: uppercase; margin-top: 25px;}

.c2 {height: 614px; position: relative;}
.c2 ul.slider {position: absolute; top: 0; left: 0; height: 100%; width: 100%;}
.c2 ul.slider li {position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: none; text-align: center; overflow: hidden;}
.c2 ul.slider li img {position: absolute; left: 50%; margin-left: -1000px;}
.c2 ul.slider li.active {display: block;}
.c2 .form-wrap {right: 0; top: 15px;}
.c2 .timer {position: absolute; height: 209px; width: 340px; top: 395px; right: 0; background: rgba(30, 17, 83, 0.75) url("../img/timer.png") center bottom no-repeat; border-radius: 10px;}
.c2 .timer .container div {float: left; height: 55px; width: 27px;}
.c2 .timer .container {position: absolute;  width: 280px;height: 80px; bottom: 0; right: 25px; }
.c2 .timer h1 {font: 1.625em/1em 'cond_medium', sans-serif; color: #fff; text-transform: uppercase; text-align: center; margin-top: 15px; }
.c2 .timer h3 {font: 1.5em/1em 'cond_thin', sans-serif; color: #fff; text-align: center; margin-top: 5px;}

.c2 ul.checker {position: absolute; top: 550px; left: 50px;}
.c2 ul.checker li {float: left; width: 30px; height: 30px; opacity: 0.6; background: #fff; margin-left: 15px; border-radius: 50%; cursor: pointer;}
.c2 ul.checker li.active {background: #000;}


.c3 {background: url("../img/arches.png"); padding: 40px 0 80px; text-align: center;}
.c3 h1 {color: #080208; font: 3em/1em 'din_display_pro_thin', sans-serif; text-transform: uppercase; padding-bottom: 50px;}
.c3 .block {display: inline-block; width: 250px; height: 250px; border-radius: 50%; background: #9b9b9b; margin: 0 10px; position: relative;}
.c3 h3 {text-transform: uppercase; color: #fff; font: 1.9em/1em 'cond_thin', sans-serif; z-index: 200; position: relative; margin-top: 100px; padding-bottom: 5px; background: url("../img/c3.png") center bottom no-repeat;}
.c3 p {font: 1.125em/1em 'cond_light', sans-serif; color: #fff; text-transform: uppercase; position: relative; z-index: 200; margin-top: 5px;}



.c3 ul {position: absolute; top: 50%; left: 50%; margin-top: -115px; margin-left: -115px; width: 230px; height: 230px; overflow: hidden;}
.c3 li {width: 100%; height: 100%; background: #ccc; border-radius: 50%; overflow: hidden;}
.c3 li img {height: 100%; width: 100%;}

.c3 .fon{position: absolute; border-radius: 50%; top: 50%; left: 50%; margin-top: -115px; margin-left: -115px; width: 230px; height: 230px; background: rgba(0, 0, 0, 0.5); z-index: 50; transition: all 0.5s ease;}
.c3 .block:hover .fon {background: rgba(0, 0, 0, 0);}

.c4 {height: 614px; background: url("../img/c4_1.jpg") center no-repeat;}

.c5 {text-align: center; background: url("../img/c5bg.png"); padding: 55px 20px; height: 460px;}
.c5 .block {width: 231px; height: 211px; display: inline-block; background: url("../img/c5block.png") center no-repeat; vertical-align: top; cursor: pointer; position: relative;}
.c5 .block:after {content: ""; display: none; position: absolute; top: 205px; left: 105px; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 20px solid #f1f1f1;}
.c5 h3 {font: 1.875em/1em 'cond_italic', sans-serif; color: #fff; text-transform: uppercase; margin-top: 50px;}
.c5 .block:first-child h3 {color: #0ef8ea;}
.c5 .block:first-child:after {display: block;}
.c5 p {font: 1.250em/1em 'cond_regular', sans-serif; color: #fff;}
.c5 .wrap:hover h3 {color: #fff;}
.c5 .wrap:hover .block:after {display: none;}
.c5 .wrap:hover .block:hover h3 {color: #0ef8ea;}
.c5 .wrap:hover .block:hover:after {display: block;}
.c5 .helper {opacity: 0; transition: opacity 0.5s ease; width: 760px; min-height: 50px; position: absolute; top: 225px; background: #fff; background: url("../img/separator.png") center top 10px no-repeat, url("../img/separator.png") center bottom 10px no-repeat, url("../img/helper.png"); padding: 25px; border-radius: 10px;}
.c5 .block:first-child .helper { opacity: 1; }
.c5 .wrap:hover .helper {opacity: 0;}
.c5 .wrap:hover .block:hover .helper {opacity: 1;}

.c5 .b1 .helper {left: 60px;}
.c5 .b2 .helper {left: -175px;}
.c5 .b3 .helper {left: -408px;}
.c5 .b4 .helper {left: -642px;}

.c5 .helper > div {display: inline-block; vertical-align: middle;}
.c5 .help {height: 150px; width: 0px;}

.c5 .text {font: 2em/1em 'cond_italic', sans-serif; color: #000;}
.c5 .text span {font-weight: 700;}
.c5 .wrap > p {font: 1em 'cond_regular', sans-serif; color: #fff; position: absolute; top: 450px; left: 145px;}

.c6 {padding: 70px 0 70px; background: url("../img/arches.png"); text-align: center;}
.c6 h1 {font: 3em/1em 'cond_thin', sans-serif; color: #080208; text-transform: uppercase; text-align: center; padding-bottom: 85px;}
.c6 .block {display: inline-block; position: relative; padding-left: 95px; text-align: left; vertical-align: top; margin-bottom: 50px; width: 360px}
.c6 .block img {position: absolute; top: 0; left: 0; }
.c6 h3 {font: 1.250em 'cond_regular', sans-serif; color: #080208; text-transform: uppercase; padding-bottom: 15px;}
.c6 p {font: 1.125em 'cond_light', sans-serif; color: #080208;}

.c7 {height: 500px; background: url("../img/c7.jpg") center no-repeat;}
.c7 select {width: 220px; text-align: left;}
.c7 .form-wrap {height: 468px; right: 0; top: 0;}
.c7 .form-wrap p {margin-top: 15px;}
.c7 .icon {padding: 3px; margin: 0; vertical-align: top;}
.c7 .cont {text-align: left; margin: 14px 0;}
.c7 .jq-selectbox {vertical-align: top;}
.c7 .jq-selectbox__select {font: 1.125em/30px 'cond_medium', sans-serif; color: #585858; background: rgba(255, 255, 255, 0.7); padding-right: 20px;}
.c7 .jq-selectbox__select-text {text-align: left;}
.c7 .jq-selectbox__trigger {border: none; width: 20px;}
.c7 .text {font: 1.125em/1em 'cond_regular', sans-serif; color: #585858; display: inline-block; width: 100px; vertical-align: top; text-align: left;}
.c7 input[type='text'] {width: 100px; text-align: center; font: 1.125em/1em 'cond_medium', sans-serif; color: #585858;}

.c7 .timer {position: absolute; height: 209px; width: 340px; top: 125px; right: 395px; background: rgba(30, 17, 83, 0.75) url("../img/timer.png") center bottom no-repeat; border-radius: 10px;}
.c7 .timer .container div {float: left; height: 55px; width: 27px;}
.c7 .timer .container {position: absolute;  width: 280px;height: 80px; bottom: 0; right: 25px; }
.c7 .timer h1 {font: 1.625em/1em 'cond_medium', sans-serif; color: #fff; text-transform: uppercase; text-align: center; margin-top: 15px; }
.c7 .timer h3 {font: 1.4em/1em 'cond_thin', sans-serif; color: #fff; text-align: center; margin-top: 5px;}


.c8 {padding: 70px 0 100px; background: url("../img/arches.png"); text-align: center;}
.c8 h1 {text-transform: uppercase; font: 3em/1em 'cond_thin', sans-serif; color: #080208; padding-bottom: 40px;}
.c8 .block {position: relative; display: inline-block; margin: 8px; background: #000; border-radius: 20px;}
.c8 .s1 {transition: opacity 0.5s ease; opacity: 1; position: absolute; top: 10px; left: 10px; text-transform: uppercase; text-align: left; font: 1.375em/1em 'cond_regular', sans-serif; color: #fff; padding: 10px; background: rgba(0, 0, 0, 0.5);}
.c8 .s1:after {content: ''; position: absolute; left: 100%; top: 0; width: 0; height: 0; border-top: 42px solid rgba(0, 0, 0, 0.5); border-right: 42px solid transparent;}
.c8 .s2 {transition: opacity 0.5s ease; opacity: 1; position: absolute; right: 10px; bottom: 10px; text-transform: uppercase; text-align: right; font: 1.750em/1em 'cond_regular', sans-serif; color: #fff; padding: 10px; background: rgba(0, 0, 0, 0.5);}
.c8 .s2:after {content: ''; position: absolute; right: 100%; top: 0; width: 0; height: 0; border-bottom: 50px solid rgba(0, 0, 0, 0.5); border-left: 50px solid transparent;}
.c8 .block2 {position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; transition: opacity 0.5s ease;}
.c8 .block:hover .block2 {opacity: 1;}
.c8 .block:hover .s1, .c8 .block:hover .s2 {opacity: 0;}
.c8 .block2 p {text-align: center; font: 1.2em/1em 'cond_light', sans-serif; color: #fff; background: rgba(0, 0, 0, 0.74); height: 100%; border-radius: 25px; position: relative; z-index: 100;}
.c8 .help {height: 100%; display: inline-block; width: 0; vertical-align: middle;}
.c8 .block2 .text {display: inline-block; vertical-align: middle; padding: 15px 10px; background: url("../img/separator2.png") center top no-repeat, url("../img/separator2.png") center bottom no-repeat;}
.c8 .block2 img {position: absolute; top: 0; left: 0; height: 100%; width: 100%;}


.c8 h3 {font: 2em/1em 'cond_light', sans-serif; color: #080208; padding: 40px 0 30px; text-transform: uppercase;}
.c8 sup {font-size: 0.5em; display: inline-block; vertical-align: top; line-height: 1em;}
.c8 em {font-size: 0.54em;}



.c9 {padding: 60px 0 270px; background: url("../img/pattern3.png"); text-align: center;}
.c9 h1 {text-transform: uppercase; color: #fff; font: 3em/1em 'cond_thin', sans-serif; padding: 10px;}
.c9 h3 {text-transform: uppercase; color: #ff7e00; font: 2.250em/1em 'cond_light', sans-serif; padding: 10px;}
.c9 p {font: 1.125em 'cond_light', sans-serif; color: #d6d5d5;}
.c9 strong {color: #ff7e00; font: 1.750em/1em 'cond_light', sans-serif; padding: 20px 0 15px; text-transform: uppercase;}
.c9 .dashed {padding: 5px 25px; border: 3px dashed #fff; border-radius: 20px; margin-bottom: 20px;}
.c9 .block {position: absolute;} 
.c9 .block img {display: block; margin: 0 auto 20px;}
.c9 .block p {margin-top: 15px;}
.c9 .b1 {top: 0; left: 125px; transition: all 0s ease; opacity: 0;}
.c9 .b2 {top: 60px; left: 640px; transition: all 0s ease; opacity: 0;}
.c9 .b3 {top: 260px; left: 110px; transition: all 0s ease; opacity: 0;}
.c9 .b4 {top: 290px; left: 640px; transition: all 0s ease; opacity: 0;}
.c9 .b5 {top: 470px; left: 110px; transition: all 0s ease; opacity: 0;}
.c9 .b6 {top: 550px; left: 640px; transition: all 0s ease; opacity: 0;}
.c9 .b7 {top: 725px; left: 415px; transition: all 0s ease; opacity: 0;}

.c9 .animate .b1{ transition: all 1s ease 0s; opacity: 1; }
.c9 .animate .b2{ transition: all 1s ease 0.2s; opacity: 1; }
.c9 .animate .b3{ transition: all 1s ease 0.4s; opacity: 1; }
.c9 .animate .b4{ transition: all 1s ease 0.6s; opacity: 1; }
.c9 .animate .b5{ transition: all 1s ease 0.8s; opacity: 1; }
.c9 .animate .b6{ transition: all 1s ease 1s; opacity: 1; }
.c9 .animate .b7{ transition: all 1s ease 1.2s; opacity: 1; }

.c10 {background: url("../img/pattern4.png"); text-align: center; position: relative; z-index: 100;}
.c10 img {margin-bottom: -3px;}
.c10 h1 {font: 3em/1em 'cond_thin', sans-serif; color: #080208; padding: 50px 0;}
.c10 h3 {color: #fff; text-transform: uppercase; font: 1.750em/1em 'cond_thin', sans-serif; }
.c10 p {color: #fff; font: 1em/1em 'cond_light', sans-serif; padding: 10px 0 15px; margin-bottom: 5px; background: url("../img/separator3.png") center bottom no-repeat;}
.c10 span {font: 1em/1em 'cond_light', sans-serif; color: #b2b2b2;}
.c10 .b1 {position: absolute; top: 230px; left: 30px;}
.c10 .b2 {position: absolute; top: 195px; left: 225px;}
.c10 .b3 {position: absolute; top: 230px; left: 380px;}
.c10 .b4 {position: absolute; top: 210px; left: 590px;}
.c10 .b5 {position: absolute; top: 240px; left: 760px;}

.c11 {background: url("../img/arches.png"); padding: 50px 0 0; text-align: center; position: relative;}
.c11 h1 {text-transform: uppercase; font: 3em/1em 'cond_thin', sans-serif; color: #080208; padding-bottom: 40px;}
.c11 .shadow {height: 0px; box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.34); position: absolute; top: 0; left: 0; width: 100%;}
.c11 .block {position: relative;}
.c11 .text {display: table-cell; width: 580px; text-align: left; position: relative;}
.c11 .images {width: 380px; text-align: left; position: relative; display: table-cell;}
.c11 .images > div {position: relative; display: block; height: 100%; width: 100%;}
.c11 h3 {font: italic 1.875em/1em 'cond_light', sans-serif; color: #080208; margin-bottom: 20px;}
.c11 p {color: #080208; font: 1.250em/1em 'cond_light' sans-serif;}
.c11 strong {color: #080208; font: 1.250em/1em 'cond_medium' sans-serif; margin-top: 70px; margin-bottom: 70px; display: block;}

.c11 .i1 {position: absolute; top: 0; left: 0; cursor: pointer; z-index: 100; transition: all 1s ease;}
.c11 .i2 {position: absolute; top: 50px; left: 50px; cursor: pointer; z-index: 101; transition: all 1s ease;}
.c11 .before-img:after {content: "До"; position: absolute; bottom: 25px; left: 20px; color: #fff; font: 1.250em/1em 'cond_light' sans-serif; text-shadow: 1px 1px 1px #000;}
.c11 .after-img:after {content: "После"; position: absolute; bottom: 25px; left: 20px; color: #fff; font: 1.250em/1em 'cond_light' sans-serif; text-shadow: 1px 1px 1px #000;}


.c12 {height: 432px; background: url("../img/c7.jpg") center no-repeat;}
.c12 .timer {position: absolute; height: 209px; width: 340px; top: 125px; right: 395px; background: rgba(30, 17, 83, 0.75) url("../img/timer.png") center bottom no-repeat; border-radius: 10px;}
.c12 .timer .container div {float: left; height: 55px; width: 27px;}
.c12 .timer .container {position: absolute;  width: 280px;height: 80px; bottom: 0; right: 25px; }
.c12 .timer h1 {font: 1.625em/1em 'cond_medium', sans-serif; color: #fff; text-transform: uppercase; text-align: center; margin-top: 15px; }
.c12 .timer h3 {font: 1.4em/1em 'cond_thin', sans-serif; color: #fff; text-align: center; margin-top: 5px;}
.c12 .form-wrap {height: 400px; right: 0;}
.c12 .form-wrap h3 {color: #585858; font: 1.875em/1em 'cond_regular', sans-serif;}
.c12 input[type="submit"] {margin-top: 30px;}

.c13 {padding: 90px 0 90px; text-align: center;}
.c13 > * {display: inline-block; vertical-align: middle;}
.c13 h1 {font: 5.5em 'cond_light', sans-serif; color: #584a4a;}
.c13 h1 span {color: #302b2b;}
.c13 a {border-bottom: 1px dashed #e7082f;color: #e7082f;font: 1.6em "cond_light", sans-serif;margin-left: 20px;}

footer {border-top: 3px solid #acadad; background: url("../img/shattered.jpg") repeat; padding: 20px 0;}
footer * {vertical-align: middle;}
footer .call {float: left; text-align: right;}
footer .call .number { font: 2em "cond_light", sans-serif; color: #585858;}
footer .call a {font: 1.125em "cond_light", sans-serif; color: #393737; border-bottom: 1px dashed #393737;}
footer .call a:hover {border-bottom: none;}
footer .vendor {color: #4c4c4c; display: inline-block; float: right; font-family: "cond_light"; margin-top: 25px;}